/*body {
    background-color: #8a8b8c;
    background-image: url(https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png);
}*/

*{
  color: white;
}

body {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../bg_image.jpg");
    background-size: cover;  /* Ensures the background covers the full area */
    background-position: center;  /* Centers the background image */

}

*{
    box-sizing: border-box;
}
body {
    width: 100%;
    /*background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(sunrise.jpg);*/
    background-position: center;
    background-size: cover;
    position: relative;
}

.Notifications_Container {
  height: 100vh;
    display: flex;
    table-layout: fixed;
    background: transparent;
    padding: 20px;
    border-radius:8px;
    box-shadow: 5px 10px 50px grey;
    justify-content: center;

  }
  

 .notification-container div {
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            text-align: center;
            width: 100%
        }

        .notification-container .header {
            background-color: #f0f0f0;
            font-weight: bold;
        }

  thead th:nth-child(1) {
  width: 16%;
  text-align: center;
}

thead th:nth-child(2) {
  width: 16%;
  text-align: center;
}

thead th:nth-child(3) {
  width: 16%;
  text-align: center;
}

thead th:nth-child(4) {
  width: 16%;
  text-align: center;
}
thead th:nth-child(5) {
    width: 16%;
    text-align: center;
  }
  thead th:nth-child(6) {
    width: 16%;
    text-align: center;
  }
  #Notifications {
    background-color: transparent;
    box-shadow: 5px 10px 50px grey;
    backdrop-filter: blur(20px);
    width: flex;
    height: flex;
    border-radius: 10px;
    padding: 30px;
  }
  
  #Notifications h1 {
    text-align: center;
  }
  
