@tailwind base;
@tailwind components;
@tailwind utilities;

.master-page {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(bg_image.jpg);
  background-size: cover; /* Ensures the background covers the full area */
  background-position: center; /* Centers the background image */
  
  min-height: 100vh; /* Full height of the viewport */
  display: flex; /* Activates flexbox layout */
  flex-direction: column; /* Arranges children in a column */
  align-items: center; /* Centers items horizontally */
  justify-content:start; 
  gap: 20px; /* Adds space between items */
  padding: 20px; /* Optional: Adds padding */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
