/*body {
    background-color: #8a8b8c;
    background-image: url(https://uploads-ssl.webflow.com/62e3ee10882dc50bcae8d07a/631a5d4631d4c55a475f3e34_noise-50.png);
}*/
*{
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    width: 100%;
    /*background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(sunrise.jpg);*/
    background-position: center;
    background-size: cover;
    position: relative;
}
button:disabled {
    color: black;
}
h1, p{
    color: white;
}

::placeholder {
    color: white;
}
#main-logo {
    width: 85%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-logo ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

#main-logo ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

#main-logo ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(113, 99, 186, 255);
    display: block;
    margin: auto;
    transition: 0.5s;
}

#main-logo ul li:hover::after {
    width: 100%;
}

#login {
    background-color: white;
    box-shadow: 5px 10px 50px grey;
    background: transparent;
    backdrop-filter: blur(20px);
    width: 300px;
    height: 450px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 30px;


}
#login h1 {
    text-align: center;
}

hr {
    margin-left: 50px;
    margin-right: 50px;
}
.inputbox {
    width: 100%;
}
.inputbox input {
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    background: transparent;
}

.register {
    text-align: center;
}

.register p a {
    text-decoration: none;
    
}
button a {
    text-decoration: none;
    color: black;
}

button:hover {
    cursor: pointer;
}
button {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    background: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-weight: 600;
}

.register a {
    /*color: rgb(167, 3, 131);*/
    color: rgb(113, 99, 186, 255);
}