/* CSS */
header {
  width: 100%;
  margin: 0 auto auto auto;
  height: auto;

  background-color: rgb(28, 34, 34);
}

nav {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

#main-logo {
  display: flex;
  align-items: center;
  width: 100%;
}

#main-logo h1 {
  margin: 0;
  font-size: 28px;
  font-family: Arial, sans-serif;
  text-decoration:solid;

  color: white;
}

#categories {
  list-style-type: none;
  display: flex;
  margin: auto 0 auto auto;
  padding: 0;
}

#categories li {
  margin: 0 15px;
}

#categories li a {
  text-decoration: none;
  font-size: 18px;
  color: white;
}

#categories li a:hover {
  text-decoration: underline;
}
