.matchingContainer {
    
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../bg_image.jpg);
    background-size: cover; /* Ensures the background covers the full area */
    background-position: center; /* Centers the background image */
  
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    
    min-height: 89.1vh;
    padding: 0px;
  
      /*flex-wrap: wrap;
      align-content: flex-start;*/
  }
  
  form {
      display: flex;
      flex-direction: column;
      justify-content: center; /* Center content horizontally */
      align-items: center; /* Center content vertically */
      margin: auto; /* Remove default margin */
      background: transparent;
  }
  
  h1{
      color: white;
      font-size: xx-large;
      text-align: center;
  }
  
  hr {
      margin: 0 50px; /* Margin to left and right */
      margin-bottom: 20px;
  }
  
  #match{
      background-color: transparent;
      box-shadow: 5px 10px 50px grey;
      backdrop-filter: blur(20px);
      width: 300px;
      height: 390px;
      border-radius: 10px;
      padding:30px;
  
  }
  /* 
  .inputbox input{
      color: white;
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 6px;
      background: transparent;
  } */
  
  label {
      display: grid;
      justify-content: center;
      margin-bottom: 5px;
      color: white;
  }
  
  ::placeholder {
      color:white;
  }
  
  /* select, input, textarea{
      color: black;
      border: 1px solid gray;
      width: 100%;
  } */
  
  input[type=text]{   /* formatting for textboxes */
      color: white;
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 6px;
      background: transparent;
  }
  
  textarea{   /* formatting for textareas */
      color: white;
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border-radius: 6px;
      background: transparent;
      box-sizing: border-box;
      resize: none;
  }
  
  input[type=date]:invalid::-webkit-datetime-edit {
      color: #999;
      
  }
  
  select{
      display: flex;
      justify-content: center;
      padding: 10px 30px;
      margin: 10px;
      margin-bottom: 30px;
      border: content;
      border-radius: 4px;
      background: transparent;
      color: rgb(255, 255, 255);
  }

select option{
    background-color: #000000;
}
  
  input[type=submit] {
      width: 100%;
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      padding: 10px 30px;
      margin: 25px 0px;
      border: content;
      border-radius: 4px;
      cursor: pointer;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  input[type=submit]:hover{
      background-color: #000000;
      color: white;
      transition: background-color 100ms ease-out 100ms;
      transition: color 50ms ease out 100ms;
  }
  /* 
  div{
      border-radius: 5px;
      padding: 5px;
  } */