body {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../bg_image.jpg);
    background-size: cover;  /* Ensures the background covers the full area */
    background-position: center;  /* Centers the background image */     
}

h1{
    color: white;
    font-size: xx-large;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    min-height: 100vh; /* Full height of the viewport */
    margin: 0; /* Remove default margin */
    background: transparent;
}

label {
    display: grid;
    justify-content: center;
    margin-bottom: 5px;
}

::placeholder {
    color: #ccc;
}

select, input, textarea{
    color: black;
    border: 1px solid gray;
}

div{
    border-radius: 5px;
    padding: 5px;
}



